<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <meta content="Launchpad by Anima" name="author"/>

        <link rel="stylesheet" href="{{ url_for('static', filename='miniMedicHomePage.css') }}">
    </head>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

      $(function() {
        $('a#calculate').bind('click', function() {
          $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
            pelvic_incidence: $('input[name="PI"]').val(),
            pelvic_tilt: $('input[name="PT"]').val(),
            lumbar_lordosis_angle: $('input[name="LLA"]').val(),
            sacral_slope: $('input[name="SS"]').val(),
            pelvic_radius: $('input[name="PR"]').val(),
            degree_spondylolisthesis: $('input[name="DR"]').val(),
          }, function(data) {
            $("#result").text(data.result);
          });
          return false;
        });
      });
    </script>


    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="minimedichomepage"/>
          <div class="minimedichomepage">
            <div style="width: 1440px; height: 100%; position:relative; margin:auto;">
              <div class="header">
                  <div class="minimediclogo">
                      <img src="static/img/MiniMedicLogo.png" class="group2"/>
                  </div>
                  <img src="static/img/mini-medic-home-page-header-logo-line@2x.png" class="headerlogoline"/>
                  <img src="static/img/mini-medic-home-page-header-underline-1.png" class="headerunderline"/>
                  <div class="about">
                      About
                  </div>
                  <div class="graphs">
                      Graphs
                  </div>
                  <div class="minimedictext">
                      Mini Medic
                  </div>
              </div>
              <div class="about">
                  <div class="pelvicincidence">
                      Pelvic Incidence
                  </div>
                  <div class="pelvicincidence1">
                      Pelvic incidence is measured as the angle between the line perpendicular to the sacral plate at its centre and the line connecting the sacral centre point to the femoral heads axis.
                  </div>
                  <div class="pelvictilt">
                      Pelvic Tilt
                  </div>
                  <div class="pelvictilt1">
                      Pelvic tilt is measured as the angle between the line drawn from the anterior superior iliac spines to the pubic symphysis, known as the anterior pelvic plane, and the vertical line connecting the anterior superior iliac spines.
                  </div>
                  <div class="lumbarangle">
                      Lumbar Lordosis Angle
                  </div>
                  <div class="lumbarangle1">
                      The lumbar lordosis angle is measured as the angle between a line drawn through the articulation between the sacrum and the first vertebra above the sacrum, and a line drawn through the articulation between the fifth and sixth vertebrae.
                  </div>
                  <div class="sacralslope">
                      Sacral Slope
                  </div>
                  <div class="sacralslope1">
                      Sacral slope is measured as the angle formed between the tangent line to the superior endplate of S1 (the most cranial sacral bone) and the horizontal plane.
                  </div>
                  <div class="pelvicradius">
                      Pelvic Radius
                  </div>
                  <div class="pelvicradius1">
                      Pelvic radius can be measured as as the radius of the arc formed between the angle of a line connecting the hip axis and the posterior corner of S1 (the most cranial sacral bone), and a line drawn along the sacral endplate, PRS1.
                  </div>
                  <div class="degree">
                      Degree Spondylolisthesis
                  </div>
                  <div class="degree1">
                      Degree Spondylolisthesis is classified as the degree of slip that can be translated into a grading system, with Grade I: 0-25%, Grade II: 25-50%, Grade III: 50-75%, Grade IV: 75-100%, Grade V: greater than 100% slippage.
                  </div>
              </div>


            </div>
          </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
