<head>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

<script type=text/javascript>
  console.log("hello");
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(function() {
    $('a#calculate').bind('click', function() {

      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        pelvic_incidence: $('input[name="PI"]').val(),
        pelvic_tilt: $('input[name="PT"]').val(),
        lumbar_lordosis_angle: $('input[name="LLA"]').val(),
        sacral_slope: $('input[name="SS"]').val(),
        pelvic_radius: $('input[name="PR"]').val(),
        degree_spondylolisthesis: $('input[name="DR"]').val(),
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    });
  });
</script>

<p>
  Pelvic Incidence:
  <input type=text size=5 name=PI>
  Pelvic Tilt:
  <input type=text size=5 name=PT>
  Lumbar Lordosis Angle:
  <input type=text size=5 name=LLA>
  Sacral Slope:
  <input type=text size=5 name=SS>
  Pelvic Radius:
  <input type=text size=5 name=PR>
  Degree Spondylolisthesis
  <input type=text size=5 name=DS>
  <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a>
