<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="./css/miniMedicHomePage.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="minimedichomepage"/>
        <div class="minimedichomepage">
            <div style="width: 1440px; height: 100%; position:relative; margin:auto;">
                <div class="results">
                    <img anima-src="./img/mini-medic-home-page-background.png" class="background" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="treatment">
                        //treatment
                    </div>
                    <div class="description">
                        //description
                    </div>
                    <div class="treatment1">
                        Treatment:
                    </div>
                    <div class="description1">
                        Description:
                    </div>
                    <div class="spondylolisthesis">
                        SPONDYLOLISTHESIS
                    </div>
                    <div class="diagnosis">
                        <span class="span1">Diagnosis</span><span class="span2">: </span>
                    </div>
                    <img anima-src="./img/mini-medic-home-page-header-underline.png" class="headerunderline" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="inputdata">
                    <div class="gobutton">
                        <div class="buttonbackground">
                        </div>
                        <div class="go">
                            GO!
                        </div>
                    </div>
                    <div class="uploadfilebutton">
                        <div class="rectangle">
                        </div>
                        <div class="uploadfile">
                            Upload file
                        </div>
                    </div>
                    <div class="or">
                        ~or~
                    </div>
                    <div class="degreespondylolisthesis">
                        <div class="rectangle">
                        </div>
                        <div class="degreespondylolisth">
                            Degree Spondylolisthesis
                        </div>
                        <div class="a321313490">
                            32.1313490
                        </div>
                    </div>
                    <div class="pelvicradius">
                        <div class="rectangle">
                        </div>
                        <div class="pelvicradius1">
                            Pelvic Radius
                        </div>
                        <div class="a321313490">
                            32.1313490
                        </div>
                    </div>
                    <div class="sacralslope">
                        <div class="rectangle">
                        </div>
                        <div class="sacralslope1">
                            Sacral Slope
                        </div>
                        <div class="a321313490">
                            32.1313490
                        </div>
                    </div>
                    <div class="lumbarlordosisangle">
                        <div class="rectangle">
                        </div>
                        <div class="lumbarlordosisangl">
                            Lumbar<br />Lordosis Angle
                        </div>
                        <div class="a321313490">
                            32.1313490
                        </div>
                    </div>
                    <div class="pelvictilt">
                        <div class="rectangle">
                        </div>
                        <div class="pelvictilt1">
                            Pelvic Tilt
                        </div>
                        <div class="a321313490">
                            32.1313490
                        </div>
                    </div>
                    <div class="pelvicincidence">
                        <div class="rectangle">
                        </div>
                        <div class="pelvicincidence1">
                            Pelvic Incidence
                        </div>
                        <div class="a321313490">
                            32.1313490
                        </div>
                    </div>
                    <div class="insertdatabelow">
                        Insert Data Below
                    </div>
                </div>
                <div class="header">
                    <img anima-src="./img/mini-medic-home-page-header-logo-line@2x.png" class="headerlogoline" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/mini-medic-home-page-header-underline-1.png" class="headerunderline" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="about">
                        About
                    </div>
                    <div class="graphs">
                        Graphs
                    </div>
                    <div class="minimedictext">
                        Mini Medic
                    </div>
                    <div class="group2">
                        <img anima-src="./img/mini-medic-home-page-logo@2x.png" class="logo" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/mini-medic-home-page-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/mini-medic-home-page-oval@2x.png" class="oval1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="group">
                            <img anima-src="./img/mini-medic-home-page-line-2@2x.png" class="line2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="group12">
                                <img anima-src="./img/mini-medic-home-page-oval-2@2x.png" class="oval2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="group11">
                                    <div class="rectangle">
                                    </div>
                                    <div class="rectangle1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
